body{
    background-color: crimson;
}
#pl1{
    background-color: white;
    border-radius: 20px;
    width: 870px;
    height: 200px;
}
#pl2{
    background-color: white;
    border-radius: 20px;
    width: 870px;
    height: 200px;
}
.container{
    padding-top: 50px;
}
#pl1name{
    width: 400px;
    height: 35px;
    height: 35px;
    border-radius: 5px;
}
#pl2name{
    width: 400px;
    height: 35px;
    height: 35px;
    border-radius: 5px;
}
#n1{
    width: 400px;
    height: 35px;
    height: 35px;
    border-radius: 5px;
}
#n2{
    width: 400px;
    height: 35px;
    height: 35px;
    border-radius: 5px;
}
#btnlogin{
    width: 200px;
}
#output{
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}